<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<% if(message) { %>
  <div class="messages">
      <%= message %>
  </div>
<% } %>
<% if(errors) { %>
  <div class="errors">
      <%= errors %>
  </div>
<% } %>
<div class="container full">
  <div id="front-pg-img">
    <img src="/images/Runners.jpg">
  </div>
  <div id="front-pg-content">
      <p>
        Can you meet the challenge to run one race in every state?
      </p>
      <p>
        Meet other 50 by 50ers, start running teams, share triumphs.
      </p>
      <a href="/auth/google">
        <button id="login-btn">Get Started</button>
      </a>
  </div>
</div>

<%- include('./partials/footer') %>
