<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container">

    <form action="/races" method="POST">
        <label for="name">Race Name</label>
        <input type="text" name="name" placeholder="e.g. New York Marathon">
        <label for="date">Date</label>
        <input type="date" name="date">
        <label for="city">City</label>
        <input type="text" name="city">
        <label for="state"></label>
        <select name="state">
            <% states.forEach(function(s){ %>
                <option value="<%= s %>"><%= s %></option>
            <% }); %>
        </select>
        <label>Chip Time</label>
        <label for="hours">Hours</label>
        <input type="number" name="hours" min="0">
        <label for="minutes">Minutes</label>
        <input type="number" name="minutes" max="60" min="0">
        <label for="seconds">Seconds</label>
        <input type="number" name="seconds" max="60" min="0">
        <button type="submit">Add Race</button>
    </form>
    First check for existing race,
    if it exists, link that race to the runner
    
    then if no race exists, add it to the database.
</div>
<%- include('../partials/footer') %>