<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container">
    <div class="left">
        <h2><%=race.name %></h2>
        <h4><%= race.city %> <%= race.state %></h4>
        <div id="fastest">
            <p id="fast-title">Fastest Time</p>
            <span><%= fastest.name %></span>
            <span><%= fastest.time %></span>
        </div>
        <div id="racers">
            <ul>
                <% runners.forEach(function(r){ %>
                    <li><%= r.runner.name %> <%= new Date(r.time * 1000).toISOString().substr(11,8) %></li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="right">
        <h3>Post a Comment</h3>
        <form id="new-comment-form" action="/races/<%= race._id %>/comments" method="POST">
            <label for="new-comment">Add New Comment</label>
            <textarea name="comment" id="new-comment"></textarea>
            <button type="submit">Submit</button>
        </form>

        <div class="all-comments">
            <% comments.forEach(function(c){ %>
                <%= c.comment %>
                <%= c.user.name %>
            <% }); %>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>