<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container">
    <div class="left">
        <h2><%=race.name %></h2>
        <h4><%= race.city %> <%= race.state %></h4>
        <div id="fastest">
            <p id="fast-title">Fastest Time</p>
            <% if(fastest) { %>
                <span><%= fastest.name %></span>
                <span><%= fastest.time %></span>
            <% } else { %>
                <span>No runners available</span>
            <% } %>
        </div>
        <div id="racers">
            <ul>
                <% if(runners) { %>
                    <% runners.forEach(function(r){ %>
                        <li>
                            <a href="/users/profile/<%= r.runner.id %>"><%= (r.runner.displayName) ? r.runner.displayName : r.runner.name %></a>
                            <span><%= new Date(r.time * 1000).toISOString().substr(11,8) %></span>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="right">
        <h3>Post a Comment</h3>
        <div id="comment-form-container">
            <form id="new-comment-form" action="/races/<%= race._id %>/comments" method="POST">
                <label class="block" for="new-comment">Add New Comment</label>
                <textarea name="comment" id="new-comment"></textarea>
                <button class="centered" type="submit">Submit</button>
            </form>
        </div>

        <div class="all-comments">
            <% if(comments){ %>
                <% comments.forEach(function(c){ %>
                    <div class="comment-container">
                        <% if(c.user._id.toString() === locals.user._id.toString()){ %>
                            <div class="delete-item hidden" id="comment-<%= c._id %>-race-<%= race._id %>"></div>
                        <% } %>
                        <!-- TODO only display delete for your own comments and then double check on server side -->
                        <p class="comment-text">
                            <%= c.comment %>
                        </p>
                        <p class="commenter">
                            <a href="/users/profile/<%= c.user._id %>"><%= (c.user.displayName) ? c.user.displayName : c.user.name %></a> <span class="comment-date"><%= dateFormat(c.createdAt, "mmm d, yyyy") %></span>
                        </p>
                    </div>
                <% }); %>
            <% } %>

        </div>
    </div>
</div>

<%- include('../partials/footer') %>