<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class='container'>
    <div class="left">
        <div id="user-info">
            <h2><%= user.name%></h2>
            <p>
                <%= user.city ? user.city : '' %>
                <%= user.state ? user.state : '' %>
            </p>
            <% if(isOwner) {%>
                <button class="small" id="change-location">Edit</button>
                <form class="collapsible" id="edit-location-form" action="/users/profile/<%= user._id %>?_method=PUT" method="POST">
                    <div>
                        <label for="user-city">City</label>
                        <input type="text" name="city" id="user-city">
                        <label for="user-state">State</label>
                        <select name="state" id="user-state">
                            <% states.forEach(function(s){ %>
                                <option value="<%= s %>"><%= s %></option>
                            <% }); %>
                        </select>
                        <button class="centered small" type="submit">Update</button>
                    </div>
                </form>
            <% }%>
        </div>
        <div id="race-info">
            <h3 class="inline-block"><%= isOwner ? 'My' : '' %> Races</h3>
            <% if(isOwner) {%>
                <a href="/races/new"><button>Add a Race</button></a>
            <% }%>
            <div id="races">
                <ul>
                    <% races.forEach(function(r){ %>
                        <li class=<%= (r._id.equals(currentRace && currentRace.id)) ? "current-race" : "" %>>
                            <a href="?currentRace=<%= races.indexOf(r) %>&&id=<%=r._id %>"><%= r.name %></a> <%= dateFormat(r.date, "mmm d, yyyy") %>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <% if(currentRace) { %>
            <h3><%= currentRace.name %> </h3>
            <p><%= currentRace.city %> <%= currentRace.state %></p>
            <p class="current-time"><span>Chip Time</span> <%= currentRace.time %></p>
            <a class="large-link" href="/races/<%= currentRace.id %>">View other Runners in this race</a>
            <% }  else { %>
            <p class="italic">Select a race to view details</p>
            <% } %>
    </div>

</div>

<%- include('../partials/footer') %>