<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class='container'>
    <% if(message) { %>
        <div class="messages">
            <%= message %>
        </div>
    <% } %>
    <% if(errors) { %>
        <div class="errors">
            <%= errors %>
        </div>
    <% } %>
    <div class="left">
        <div id="user-info">
            <% if(isOwner) { %>
                <h2><%= user.name%> <%= (user.displayName) ? "(" + user.displayName + ")" : '' %></h2>
            <% } else { %>
                <h2><%= (user.displayName) ? user.displayName : user.name %></h2>
            <% } %>
            <p>
                <%= user.city ? user.city : '' %>
                <%= user.state ? user.state : '' %>
            </p>
            <% if(isOwner) {%>
                <span class="pseudo-link" id="change-location">Edit Name/Location</span>
                <form class="collapsible" id="edit-location-form" action="/users/profile/<%= locals.user._id %>?_method=PUT" method="POST">
                    <div>
                        <p class="small-font">To delete a field, leave it blank and click Update</p>
                        <label for="display-name">Display Name</label>
                        <input type="text" name="displayName" id="display-name" value="<%= (locals.user.displayName) ? locals.user.displayName : '' %>">
                        <br>
                        <label for="user-city">City</label>
                        <input type="text" name="city" id="user-city" value="<%= (locals.user.city) ? locals.user.city : '' %>">
                        <label for="user-state">State</label>
                        <select name="state" id="user-state">
                            <option value=""></option>
                            <% states.forEach(function(s){ %>
                                <option value="<%= s %>" <%= (s === locals.user.state) ? 'selected="selected"': '' %>><%= s %></option>
                            <% }); %>
                        </select>
                        <button class="centered small" type="submit">Update</button>
                    </div>
                </form>
            <% }%>
        </div>
        <div id="race-info">
            <h3 class="inline-block"><%= isOwner ? 'My' : '' %> Races</h3>
            <% if(isOwner) {%>
                <a href="/races/new"><button>Add a Race</button></a>
            <% }%>
            <div id="races">
                <ul>
                    <% races.forEach(function(r){ %>
                        <li class=<%= (r._id.equals(currentRace && currentRace.id)) ? "current-race" : "" %>>
                            <a href="?currentRace=<%= r._id %>"><%= r.name %></a> 
                            <span>
                                <%= dateFormat(r.date, "mmm d, yyyy") %>
                            </span>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <% if(currentRace) { %>
            <% if(isOwner) {%>
                <div class="delete-item" id="runner-<%= currentRace.runnerId %>-race-<%= currentRace._id %>"></div>
            <% } %>
            <h3><%= currentRace.name %> </h3>
            <p><%= currentRace.city %> <%= currentRace.state %></p>
            <div class="current-time">
                <p><span>Chip Time</span></p>
                <p class="inline-block"><%= currentRace.time %></p>
                <% if(isOwner) {%>
                    <p id="edit-time" class="pseudo-link inline-block">Edit</p>
                <% } %>
            </div>
            <form id="edit-time-form" class="collapsible" action="/races/<%= currentRace._id %>/runners/<%= currentRace.runnerId %>?_method=PUT" method="POST">
                <div>
                    <label for="hours">Hours</label>
                    <input type="number" name="hours" max="99" min="0" id="hours">
                    <label for="minutes">Minutes</label>
                    <input type="number" name="minutes" max="60" min="0" id="minutes">
                    <label for="seconds">Seconds</label>
                    <input type="number" name="seconds" max="60" min="0" id="seconds">
                    <button class="centered small" type="submit">Update</button>
                </div>
            </form>
            
            <a class="large-link" href="/races/<%= currentRace.id %>">View other Runners in this race</a>

            <% if(mapLocation) { %>
                <iframe class="map" src="https://www.google.com/maps/embed/v1/place?key=<%= mapKey %>&q=<%= mapLocation %>&zoom=8"></iframe>
            <% } %>
            <% }  else { %>
            <p class="italic">Select a race to view details</p>
            <% } %>
            <p id="delete-account">Delete Account</p>
    </div>
</div>

<%- include('../partials/footer') %>