<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class='container'>
    <div class="left">
        <div id="user-info">
            <h2><%= user.name%></h2>
            <% if(user.city) user.city %>
            <% if(user.state) user.state %>
            <% if(!user.city && !user.state) {%>
                <button>Add Location</button>
                <!--TODO This needs functionality -->
            <% }%>
        </div>
        <div id="race-info">
            <h3>My Races</h3>
            <a href="/races/new">Add a Race</a>
            <div id="races">
                <ul>
                    <% races.forEach(function(r){ %>
                        <li class=<%= (r._id.equals(currentRace && currentRace.id)) ? "current-race" : "" %>>
                            <a href="?currentRace=<%= races.indexOf(r) %>&&id=<%=r._id %>"><%= r.name %></a> <%= dateFormat(r.date, "mmm d, yyyy") %>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <% if(currentRace) { %>
            <h3><%= currentRace.name %> </h3>
            <p><%= currentRace.city %> <%= currentRace.state %></p>
            <p class="current-time"><span>My Time</span> <%= currentRace.time %></p>
            <a class="large-link" href="/races/<%= currentRace.id %>">View other Runners in this race</a>
            <% }  else { %>
            <p>Select a race to view details</p>
            <% } %>
    </div>

</div>

<%- include('../partials/footer') %>